header {
    background-color : rgba(9, 9, 9, 0.7);
    width:100px;
    height:200px;
}
image {
    width: 200px;
    height: 400px;
    align-items: center;
}
main {
 background: rgba(9, 9, 9, 0.7);
}

h2 {
    background: rgb(242, 245, 241); 
    font-size: 15px; 
    color:  rgba(50, 114, 243, 0.7); 
    text-align: center;
}
h3 {
    background: rgb(242, 245, 241); 
    font-size: 25 px;
    color: rgba(9, 9, 9, 0.7);
    text-align: center;
    
}
footer {
    background: rgba(9, 9, 9, 0.7);
    font-size: 5px;
    color:rgba(242, 245, 241, 0.7); 
    text-align: center;
}
sup {
    background: rgba(96, 167, 243, 0.7); 
    vertical-align: super;
    font-size: smaller;
}
home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   }
image {
    width: 25%;
    grid-column: 4/6;
    grid-row: 1/4
}
h2 {
    width: 25%;
    grid-column: 4/6;
    grid-row: 2/3 
}
h3 {
    width: 25%;
    grid-column: 4/6;
    grid-row: 3/8;
}
footer {
    width: 25%;
    grid-column: 4/6;
    grid-row: 9/10;
}