header {
    background-color : rgba(9, 9, 9, 0.7);
    width:100px;
    height:200px;
}
image {
    width: 100px;
    height: 200px;
}
main {
 background: rgba(9, 9, 9, 0.7);
}

h2 {
    background: rgba(242, 245, 241, 0.7); 
    font-size: 15px; 
    color:  rgba(50, 114, 243, 0.7); 
}
h3 {
    background: rgba(242, 245, 241, 0.7); 
    font-size: 25 px;
    color: rgba(9, 9, 9, 0.7);
    
}
footer {
    background: rgba(9, 9, 9, 0.7);
    font-size: 5px;
    color:rgba(242, 245, 241, 0.7); 
    text-align: center;
}
sup {
    background: rgba(96, 167, 243, 0.7); 
    vertical-align: super;
    font-size: smaller;
}