h1 {
    text-align: center;
}
  nav {
    background-color: steelblue;
    padding: 10px;
  }
  a {
    color: white;
    margin: 40px;
  }
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
}
main p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
a {
    font-size: 1.5em;
}
* {
    border: 2px solid blue;
}
nav, footer {
    text-align: center;
}